<header class="pass-header">
  <i class="pass-icon fa-solid fa-user-shield"></i>

  <h1 class="pass-title"> Password Manager</h1>

  <nav class="nav-btns">
      <button class="list-btn" routerLink="/">Password List</button>
      <!-- Button to navigate to the password list page -->
      <!-- <button (click)="updatePasswords()" class="add-btn"><a class="add-link" routerLink="/password-edit">Add Password</a></button> -->
      <button class="add-btn"><a class="add-link" routerLink="/password-edit">Add Password</a></button>
      <!-- Button to add a new password -->

  </nav>
</header>

<router-outlet></router-outlet>
