<div class="table-card">
    <table class="pass-table">
        <thead>
            <tr>
                <th>#</th>
                <!-- Column header for ID -->
                <th>Category</th>
                <!-- Column header for Category -->
                <th>Application</th>
                <!-- Column header for Application -->
                <th>Username</th>
                <!-- Column header for Username -->
                <th>Password</th>
                <!-- Column header for Password -->
                <th></th>
                <!-- Column header for Edit button -->
                <th></th>
                <!-- Column header for Delete button -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let password of passwords">
                <td>{{password._id}}</td>
                <!-- Display ID value -->
                <td>{{password.category}}</td>
                <!-- Display Category value -->
                <td>{{password.app}}</td>
                <!-- Display Application value -->
                <td>{{password.userName}}</td>
                <!-- Display Username value -->
                <td>{{password.encryptedPassword}}</td>
                <!-- Display Password value -->
                <td>
                    <button class="edit-btn" [routerLink]="['/password-edit', password?._id]">Edit</button>
                    <!-- Edit button with router link to password edit page -->
                </td>
                <td>
                    <button 
                        class="delete-btn"
                        >
                        Delete
                    </button>
                    <!-- Delete button with click event to delete the password -->
                </td>
            </tr>
        </tbody>
    </table>
  </div>
