<div class="edit-card">

    <!-- Password form -->
    <div class="pass-form">

        <!-- Category field -->
        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" class="form-control" id="category" name="category" [(ngModel)]="password.category" required>
        </div>

        <!-- Application field -->
        <div class="form-group">
            <label for="app">Application:</label>
            <input type="text" class="form-control" id="app" name="app" [(ngModel)]="password.app" required>
        </div>

        <!-- Username field -->
        <div class="form-group">
            <label for="userName">Username:</label>
            <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="password.userName" required>
        </div>

        <!-- Password field -->
        <div class="form-group">
            <label for="encryptedPassword">Password:</label>
            <div class="input-group">
                <input type="password" class="form-control" id="encryptedPassword" name="encryptedPassword" [(ngModel)]="decryptedPassword" required>

                <!-- Toggle password visibility button -->
                <button class="show-btn" type="button" id="togglePasswordVisibilityButton" (click)="togglePasswordVisibility()"><i id="togglePasswordVisibilityIcon" class="fas fa-eye"></i></button>

                <!-- Save password button -->
                <button class="save-btn">Save Password</button>
            </div>
        </div>
    </div>
</div>
